---
import projects from "../data/projects.json";
---
<section class="flex flex-col max-w-6xl mx-auto px-4">
  <h2 class="text-center text-3xl font-bold bg-gradient-to-r from-blue-500 to-cyan-400 bg-clip-text text-transparent mb-4">Featured Projects</h2>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
    {projects.map((project) => (
      <article class="flex flex-col gap-4 border border-white/90 p-4 rounded-md bg-black">
        <img
          src={project.image}
          alt={project.title}
          class="w-full h-auto rounded-md aspect-video object-cover"
        />
        <h3 class="text-lg font-bold bg-gradient-to-r from-blue-500 to-cyan-400 bg-clip-text text-transparent">{project.title}</h3>
        <div class="flex flex-wrap gap-2">
          {project.technologies.map((tech) => (
            <span class="flex items-center gap-2 border border-white/90 rounded-full px-2 py-1 bg-gray-900">
              <img src={tech.icon} alt={tech.name} class="w-4 h-4" />
              <span class="text-xs">{tech.name}</span>
            </span>
          ))}
        </div>
        <ul class="">
          {project.bulletPoints.map((point) => (
            <li class="text-sm list-disc ml-4">
              {point}
            </li>
          ))}
        </ul>
        <a href={`/projects#${project.title}`} class="text-black/90 text-center cursor-pointer bg-gradient-to-r from-blue-500 to-cyan-400 rounded-md py-2 mt-auto">Explore</a>
      </article>
    ))}
  </div>
</section>
